.black-box {
  background: rgba(000,000,000,0.8);
}

.reveal .backgrounds {
  opacity: 0.2;
}

.reveal .small-text {
  font-size: 0.7em
}

.reveal section img {
	border : none;
	background: none;
	text-align: center;
}

.reveal table td {
	text-align: center;
}

#features td {
	vertical-align: middle;
}